appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
black==19.10b0
Click==7.0
dnspython==1.16.0
eventlet==0.25.1
Flask==1.1.1
Flask-SocketIO==4.2.1
greenlet==0.4.15
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jsonpickle==1.2
kafka-python==1.4.7
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
monotonic==1.5
pathspec==0.7.0
pylint==2.4.4
python-engineio==3.11.2
python-socketio==4.4.0
regex==2019.12.20
six==1.13.0
toml==0.10.0
typed-ast==1.4.0
Werkzeug==0.16.0
wrapt==1.11.2
