{% extends "layout.html" %}
{% block content %}
<button id="pause_button" class="btn btn-default btn-primary">Pause</button>
<p>Processed Image: <span id="imageai_time"></span></p>
<p>Source Image: <span id="source_time"></span></p>
<div>
  <img id="imageai" src="" class="img-responsive" alt="Responsive image">
</div>
<p>Image Details</p>
<div class="table-responsive">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th>Row</th>
        <th>Type</th>
        <th>Probability (%)</th>
        <th>Location (Box)</th>
      </tr>
    </thead>
    <tbody id="details">
      <tr>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
</div>
<p> Feature Details</p>
<p>Identity [person, bicycle, car, motorcycle, airplane,
  bus, train, truck, boat, traffic light, fire hydrant, stop_sign,
  parking meter, bench, bird, cat, dog, horse, sheep, cow, elephant, bear, zebra,
  giraffe, backpack, umbrella, handbag, tie, suitcase, frisbee, skis, snowboard,
  sports ball, kite, baseball bat, baseball glove, skateboard, surfboard, tennis racket,
  bottle, wine glass, cup, fork, knife, spoon, bowl, banana, apple, sandwich, orange,
  broccoli, carrot, hot dog, pizza, donot, cake, chair, couch, potted plant, bed,
  dining table, toilet, tv, laptop, mouse, remote, keyboard, cell phone, microwave,
  oven, toaster, sink, refrigerator, book, clock, vase, scissors, teddy bear, hair dryer,
  toothbrush]</p>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  var socket = io.connect('http://' + document.domain + ':' + location.port);

  var update = true;

  socket.on('connect', function () {
    console.log('connected')
    if (update) {
      socket.emit('get imageai')
    }
  })

  socket.on('my response', function (msg) {
    console.log(msg)
  })
  socket.on('imageai', function (data) {
    console.log('imageai image received')
    if (update && data) {
      $("#imageai_time").text(data.time);
      $("#source_time").text(data.original_time);
      $("#imageai").attr("src", data.image);

      detailsID = $("#details");
      detailsID.empty();
      if (data.details) {
        row = 1;
        data.details.forEach(function (detail) {
          console.log(detail);
          detailsID.append('<tr><td>' + row++ + '</td>'
            + '<td>' + detail.name + '</td>'
            + '<td>' + detail.percentage_probability + '</td>'
            + '<td>(' + detail.position[0]
            + ',' + detail.position[1] + '),('
            + detail.position[2] + ','
            + detail.position[3] + ')' + '</td></tr>');
        });
      }
      if (update) {
        socket.emit('get imageai')
      }
    }
  })

  $('#pause_button').on('click', function (event) {
    console.log('Button clicked')
    var text = $('#pause_button').html();
    if (text === "Pause") {
      $(this).html('Continue');
      update = false
    } else {
      $(this).html('Pause');
      update = true
      socket.emit('get imageai')
    }
    event.preventDefault(); // To prevent following the link (optional)
  });

</script>
{% endblock %}