{% extends "layout.html" %}
{% block content %}
<h3> Live Feeds</h3>
<button id="pause_button" class="btn btn-default btn-primary">Pause</button>
<div class="row">
  <div class="col-xs-6">
    <div><b>Name: </b><span id="from_name"></span>
      <br /><span id="from_frame_reference"></span> - <span id="from_time"></span>
    </div>
    <div>
      <img id="from_image" src="" class="img-responsive" alt="Responsive image">
    </div>
  </div>
  <div class="col-xs-6">
    <div><b>Name: </b><span id="to_name"></span>
      <br /><span id="to_frame_reference"></span> - <span id="to_time"></span>
    </div>
    <div>
      <img id="to_image" src="" class="img-responsive" alt="Responsive image">
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  var socket = io.connect('http://' + document.domain + ':' + location.port);

  var update = true;

  socket.on('connect', function () {
    console.log('connected')
    if (update) {
      socket.emit('get original')
      socket.emit('get imageai')
    }
  })

  socket.on('my response', function (msg) {
    console.log(msg)
  })
  socket.on('original', function (data) {
    console.log('original image received')
    if (update && data) {
      $("#from_name").text(data.from.name);
      $("#from_time").text(data.from.time);
      $("#from_frame_reference").text(data.from.frame_reference);
      $("#from_image").attr("src", data.from.image);
    }
    if (update) {
      socket.emit('get original')
    }
  })
  socket.on('imageai', function (data) {
    console.log('imageai image received')
    if (update && data) {
      $("#to_name").text(data.to.name);
      $("#to_time").text(data.to.time);
      $("#to_frame_reference").text(data.to.frame_reference);
      $("#to_image").attr("src", data.to.image);
    }

    if (update) {
      socket.emit('get imageai')
    }
  })

  $('#pause_button').on('click', function (event) {
    console.log('Button clicked')
    var text = $('#pause_button').html();
    if (text === "Pause") {
      $(this).html('Continue');
      update = false
    } else {
      $(this).html('Pause');
      update = true
      socket.emit('get original')
      socket.emit('get imageai')
    }
    event.preventDefault(); // To prevent following the link (optional)
  });

</script>
{% endblock %}