{% extends "layout.html" %}
{% block content %}
<h2> Feature Identification</h2>
<button id="pause_button" class="btn btn-default btn-primary">Pause</button>
<h3>Original Image: <span id="original_time"></span></h3>
<div>
  <img id="original" src="" class="img-responsive" alt="Responsive image">
</div>
<h3>Processed Image: <span id="imageai_time"></span></h3>
<p>Source Image: <span id="source_time"></span></p>
<div>
  <img id="imageai" src="" class="img-responsive" alt="Responsive image">
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  var socket = io.connect('http://' + document.domain + ':' + location.port);

  var update = true;

  socket.on('connect', function () {
    console.log('connected')
    if (update) {
      socket.emit('get original')
      socket.emit('get imageai')
    }
  })

  socket.on('my response', function (msg) {
    console.log(msg)
  })
  socket.on('original', function (data) {
    console.log('original image received')
    if (update && data) {
      $("#original_time").text(data.time);
      $("#original").attr("src", data.image);
    }
    if (update) {
      socket.emit('get original')
    }
  })
  socket.on('imageai', function (data) {
    console.log('imageai image received')
    if (update && data) {
      $("#imageai_time").text(data.time);
      $("#source_time").text(data.original_time);
      $("#imageai").attr("src", data.image);
    }

    if (update) {
      socket.emit('get imageai')
    }
  })

  $('#pause_button').on('click', function (event) {
    console.log('Button clicked')
    var text = $('#pause_button').html();
    if (text === "Pause") {
      $(this).html('Continue');
      update = false
    } else {
      $(this).html('Pause');
      update = true
      socket.emit('get original')
      socket.emit('get imageai')
    }
    event.preventDefault(); // To prevent following the link (optional)
  });

</script>
{% endblock %}